/* FOOTER */
/* 

.container5{
    background-color: black;
    color: white;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 10rem 1fr 13rem 1fr;
    grid-template-areas:
        ".  logoFooter   ."
        "listFooter      .       social"
        ".            copy       ."
        "legacy        legacy     legacy"
    ;
    padding: 2rem;
    justify-items: center;
    align-items: center;
}

.nav4{
    grid-area: listFooter;
    list-style: none;
}
.nav4 li{
    padding: 0.2rem;
    font-size: 1.5rem;
}
.navLi4 a{
    text-decoration: none;
    color: white;
}

.titleFooter{
    grid-area: logoFooter;
    font-size: 2.5rem;
    
}

.socialFooter{
    grid-area: social;
    font-size: 1.5rem;
}

.autorFooter{
    grid-area: copy;
    padding-top: 8rem;
    font-size: 1.3rem;
}

.legalFooter{
    grid-area: legacy;
    font-size: 1.2rem;
    text-align: center;
    color: rgba(128, 128, 128, 0.694);
} */


.container5{
    background-color: black;
    color: white;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 10rem 1fr 13rem 1fr;
    grid-template-areas:
        ".  logoFooter   ."
        "listFooter      .       social"
        ".            copy       ."
        "legacy        legacy     legacy"
    ;
    padding: 2rem;
    justify-items: center;
    align-items: center;
    z-index: 1000;

}   

.nav4{
    grid-area: listFooter;
    list-style: none;
    .navLi4 li{
    padding: 0.2rem;
    }    
    .navLi4 a{
    text-decoration: none;
    color: white;
    font-size: 1.6rem;

    }
}


.titleFooter{
    grid-area: logoFooter;
    font-size: 2.5rem;
    
}

.socialFooter{
    grid-area: social;
    font-size: 1.5rem;
}

.autorFooter{
    grid-area: copy;
    padding-top: 8rem;
    font-size: 1.3rem;
}

.legalFooter{
    grid-area: legacy;
    font-size: 1.2rem;
    text-align: center;
    color: rgba(128, 128, 128, 0.694);
} 