@import url('https://fonts.googleapis.com/css2?family=Oranienbaum&display=swap');

*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box; 
    /* cancelar seleccion */
    user-select: none; 
}

html{
    font-size: 62.5%;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    height: 100%;
    background-color: black;
}


main{
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.801);
    position: relative;
}




.planetWebGL{
    overflow: hidden;
    width: 100%;
    height: 100vh;
}


/* ------------ */

.planet{
    width: 100%;
    min-height: 100vh;
    position: relative;
    box-shadow: 0 0 2rem #000000;

}


.planet__title {
    font-size: 60px;
    font-family: 'Raleway', sans-serif;
    letter-spacing: 7px;
    word-spacing: 12px;
    text-transform: uppercase;
    color:rgb(238, 238, 238);
    top: 38%;
    position: absolute;
    width: 100%;
    z-index: 100;
    text-align: center;
}

.planet__scroll p{
    color: rgba(255, 255, 255, 0.445);
    font-size: 2rem;
    font-family: 'Raleway', sans-serif;
    letter-spacing: 7px;
    word-spacing: 12px;
    text-transform: uppercase;
    width: 100%;
    position: absolute ;
    text-align: center;
    bottom:5%;
    z-index: 100;

}

 
/* CONTAINER 3-*/

.container3{
    transform: translate3d(0px, 0px, 0px) scale(0.85, 0.9);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;

}



.container3__text{
    font-size: 2rem;
    font-family: 'Raleway', sans-serif;
    letter-spacing: 7px;
    word-spacing: 1px;
    text-transform: uppercase;
    color:rgb(238, 238, 238);
    text-align: center;
    padding: 0 15rem;
    padding-bottom: 10rem;
}


.container3__title{
    width: 100%;
    padding-bottom: 8rem;
}

.container3__title p{
    font-size: 5rem;
    font-family: 'Raleway', sans-serif;
    letter-spacing: 7px;
    word-spacing: 5px;
    text-transform: uppercase;
    color:rgb(238, 238, 238);
    text-align: center;
}

/* CARDS*/

.container3__card{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    padding-bottom: 25%;

}


  /* Enlaces */

.container3__enlaceNft{
    display: flex;
    justify-content: flex-start;
    position: relative;
    bottom: 20rem;
}

.container3__enlaceNft a{
    display: flex;
    flex-wrap: wrap;
    text-decoration: none;
    z-index: 1;
    padding: 0.8rem 2.6rem;
    font-size: 4rem;
    font-family: 'Raleway', sans-serif;
    letter-spacing: 4px;
    word-spacing: 1px;
    text-transform: uppercase;
    color:rgb(238, 238, 238);
}

.container3__circuloNft{
    position: absolute;
    width: 7rem;
    height: 7rem;
    border-radius: 50%;
    background: -webkit-linear-gradient(to right, #b405c4 0%, #6B89FF 100%);
    background: -moz-linear-gradient(to right, #b405c4 0%, #6B89FF 100%);
    background: linear-gradient(to right, #b405c4 0%, #6B89FF 100%);
}

.container3__enlaceNft a:hover ~ .container3__circuloNft{
    background-color:rgb(255, 1, 86);
    border-radius: 2%;
    width: 700px;
    color: white;
    transition: all 0.9s ;
}



/* CONTEINER 2 -ABOUT- */
.container2-color{
    background-image: url("./img/museum.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.container2{
    position: relative;
    width: 100%;
    color: white;
    background-color: rgba(0, 0, 0, 0.678);
    min-height: 100vh;
    padding-top: 10rem;

}


.titleAbout{
    
    padding: 5rem 15rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    
}

.titleAbout h2 {
    margin-top:2%;
    color: white;
    font-size: 8rem;
    font-weight: 900;
}

.titleAbout h3 {
    color: rgb(255, 255, 255);
    font-size: 6rem;
    margin-bottom: 8rem;
 
}


.textAbout p{
    margin-top: 3rem;
    color: white;
    font-size: 2.5rem;
    font-style: italic;
    width: 100% ;
    font-weight: 500;
    text-align: center;
    margin-bottom: 15rem;
    padding: 0 20rem;
}


.enlaceAbout{
    display: flex;
    justify-content: flex-start;
    position: relative;
    bottom: 0rem;
}

.enlaceAbout a{
    display: flex;
    flex-wrap: wrap;
    font-size: 2.5rem;
    text-decoration: none;
    color: white;
    z-index: 1;
    padding: 0.5rem 1.5rem;
    width: max-content;
}

.circuloAbout{
    position: absolute;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    background: -webkit-linear-gradient(to right, #b405c4 0%, #6B89FF 100%);
    background: -moz-linear-gradient(to right, #b405c4 0%, #6B89FF 100%);
    background: linear-gradient(to right, #b405c4 0%, #6B89FF 100%);
}

.enlaceAbout a:hover ~ .circuloAbout{
    background-color:rgb(255, 1, 86);
    border-radius: 2%;
    width: 450px;
    color: white;
    transition: all 0.9s ;
}






/* NFT */


.container4{
    position: sticky;
    top: 0px;
    width: 100%;
}




.boxNft{
    background-color: rgba(0, 0, 0, 0.796);
    position: relative;
    z-index: 1;
    color: white;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    padding-top: 0%;
    padding-left: 5%;
    width: 100%;
    padding: 25rem 5rem;
}

.mov3{
    padding: 4rem;
    width: 50%;
}

.titleNft{
    font-size: 2rem;
    width: 100%;
    padding:2rem;
  
}

.imgNft{
    padding-left: 4rem;
    max-width: 50%;
}
.imgNft video{      
    width: 85%;
    border: 3px outset #b405c4;
    border-radius: 5%;
    box-shadow: 0 0 0.5rem white;
    box-shadow: 0 0 4rem #b405c4;
}

.imgNft video:hover{
    box-shadow: 0 0 5rem #b405c4;
} 


.titleNft hr{
    width: 12rem;
    height: 3px;
    border: none;
    background: -webkit-linear-gradient(to right, #b405c4 0%, #6B89FF 100%);
    background: -moz-linear-gradient(to right, #b405c4 0%, #6B89FF 100%);
    background: linear-gradient(to right, #b405c4 0%, #6B89FF 100%);
}

.titleNft h2{
    font-size: 4rem;
    color: white;
   
}
.titleNft h3{
    color: rgb(255, 255, 255);
    font-size: 5rem; 
}

.textNft p{
    color: white;
    font-size: 2rem;
    padding: 5rem 0;
    width: 100%;
    color: white;
}

.enlaceNft{
    display: flex;
    justify-content: flex-start;

}

.enlaceNft a{
    font-size: 2.5rem;
    text-decoration: none;
    color: white;
    z-index: 1;
    padding: 1rem 1.9rem;
    width: max-content;
}

.circuloNft{
    position: absolute;
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    background: -webkit-linear-gradient(to right, #b405c4 0%, #6B89FF 100%);
    background: -moz-linear-gradient(to right, #b405c4 0%, #6B89FF 100%);
    background: linear-gradient(to right, #b405c4 0%, #6B89FF 100%);
}

.enlaceNft a:hover ~ .circuloNft{
    background-color:rgb(255, 1, 86);
    border-radius: 2%;
    width: 250px;
    color: white;
    transition: all 0.9s ;
}





  /* MOBILE */

@media (max-width :1400px){
    .planet__title{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        color: white;
        font-size: 4rem;
    }
    
}


@media (max-width: 1082px){

    .planet{
        width: 100%;
        min-height: 100vh;
        position: relative;
    }

    .planet__title{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        color: white;
        font-size: 3.5rem;
        position: absolute;
        font-style: italic;
        top: 40%;
        left: 5%;
        z-index: 100;
    }
    


/* CONTEINER 2 -ABOUT- */
    .container2-color{
        background-image: url("./img/museum.jpg");
        background-size: cover;
        background-repeat: no-repeat;
    }

    .container2{
        position: relative;
        width: 100%;
        color: white;
        background-color: rgba(0, 0, 0, 0.849);
        min-height: 90vh;
        padding-top: 13rem;
        padding-bottom:13rem ;
    }


    .titleAbout{
        padding: 5rem 5rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        
    }

    .titleAbout h2 {
        margin-top:2%;
        color: white;
        font-size: 5rem;
        font-weight: 900;
    }

    .titleAbout h3 {
        color: rgb(255, 255, 255);
        font-size: 5rem;
        margin-bottom: 8rem;
    
    }


    .textAbout p{
        margin-top: 3rem;
        color: white;
        font-size: 2rem;
        font-style: italic;
        width: 100% ;
        font-weight: 500;
        text-align: center;
        margin-bottom: 15rem;
        padding: 0 2rem;
    }


    .enlaceAbout{
        display: flex;
        justify-content: flex-start;
        position: relative;
        bottom: 0rem;
    }

    .enlaceAbout a{
        display: flex;
        flex-wrap: wrap;
        font-size: 2rem;
        text-decoration: none;
        color: white;
        z-index: 1;
        padding: 0.7rem 1.6rem;
        width: max-content;
    }

    .circuloAbout{
        position: absolute;
        width: 4rem;
        height: 4rem;
        border-radius: 50%;
        background: -webkit-linear-gradient(to right, #b405c4 0%, #6B89FF 100%);
        background: -moz-linear-gradient(to right, #b405c4 0%, #6B89FF 100%);
        background: linear-gradient(to right, #b405c4 0%, #6B89FF 100%);
    }

    .enlaceAbout a:hover ~ .circuloAbout{
        background-color:rgb(255, 1, 86);
        border-radius: 2%;
        width: 450px;
        color: white;
        transition: all 0.9s ;
    }
}

@media (max-width: 868px) {

    .imgContainer1{
        opacity: 0.5;
    }

    .titleContainer1{
        text-shadow: 0 0.0 0.2rem rgb(0, 0, 0);
        margin-bottom: 14%;
        font-size:2.5rem;
    }
    .scroll{
        font-size: 2rem;
        margin-bottom: 4rem;
    }

    /* container 3  CARDS */

    .container3__card-webgl8{
        display: none;
    }

    .container3__card-webgl9{
        display: none;
    }
    .container3__card-webgl6{
        display: none;
    }


    .container3__box{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        flex-direction: column;
    }
    .container3__title{
        width: 100%;
        padding: 5rem 0;
    }
    .container3__text{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        padding: 3rem;
        font-weight: 100;
    }

    .container3__enlaceNft{
        bottom: 0rem;
        padding-bottom: 15rem;
    }
    
    .container3__enlaceNft a{
        font-size: 4.5rem;
        padding: 0.5rem 2.4rem;
    }
    
    .container3__circuloNft{
        width: 6.5rem;
        height: 6.5rem;
    }
    .container3__enlaceNft a:hover ~ .container3__circuloNft{
        width: 550px;
    }

    .container3__title p{
        font-size: 3rem;
    }
    .container3__card{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        padding:0rem 0rem;
        flex-flow: column-reverse;   
        padding-bottom: 10rem;
    }
  

    /* NFT */

    .container4{
        width: 100%;
        min-height: 150vh;
        position: relative;
    }

    .videoNft{
        position: absolute;
        width: 100%;
    }

    .boxNft{
        color: white;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        padding-top: 10%;
        padding-left: 5%;
        width: 100%;
        height: 150vh;
    }

    .mov3{
        padding: 10rem 4rem;
        width: 100%;
    }

    .titleNft{
        font-size: 2rem;
        width: 100%;
        padding:2rem;
        text-align: center;
    }

    .imgNft{
        padding-left: 0;
        max-width: 100%;
        padding-bottom: 15rem;

    }
    .imgNft video{
        margin-left: 14rem;
        width: 60%;
        border: 3px outset #b405c4;
        border-radius: 5%;
        box-shadow: 0 0 0.5rem white;
        box-shadow: 0 0 4rem #b405c4;
    }

    .textNft p{
        color: white;
        font-size: 2.3rem;
        padding: 5rem 0;
        width: 100%;
        color: white;
    }

    .enlaceNft{
        display: flex;
        justify-content: center;
        align-items: center;
    }


    .circuloNft{
        margin-right: 20rem;
    }


    .container2-color{
        background-image: url("./img/museum2.jpg");
        background-size: cover;
        background-repeat: no-repeat;
    }

    .container2{
        position: relative;
        width: 100%;
        color: white;
        background-color: rgba(0, 0, 0, 0.384);
        min-height: 112vh;
    }


    .titleAbout{
        padding: 5rem 5rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        padding-top: 25rem;
        
    }

    .titleAbout h2 {
        margin-top:2%;

        color: white;
        font-size: 9rem;
        font-weight: 900;
    }

    .titleAbout h3 {
        color: rgb(255, 255, 255);
        font-size: 5rem;
        margin-bottom: 8rem;
    
    }


    .textAbout p{
        margin-top: 3rem;
        color: white;
        font-size: 2.5rem;
        font-style: italic;
        width: 100% ;
        font-weight: 500;
        text-align: center;
        margin-bottom: 15rem;
        padding: 0 0rem;
    }


    .enlaceAbout{
        display: flex;
        justify-content: flex-start;
        position: relative;
        bottom: 0rem;
    }

    .enlaceAbout a{
        display: flex;
        flex-wrap: wrap;
        font-size: 3rem;
        text-decoration: none;
        color: white;
        z-index: 1;
        padding: 0.5rem 2rem;
        width: max-content;
    }

    .circuloAbout{
        position: absolute;
        width: 5rem;
        height: 5rem;
        border-radius: 50%;
        background: -webkit-linear-gradient(to right, #b405c4 0%, #6B89FF 100%);
        background: -moz-linear-gradient(to right, #b405c4 0%, #6B89FF 100%);
        background: linear-gradient(to right, #b405c4 0%, #6B89FF 100%);
    }

    .enlaceAbout a:hover ~ .circuloAbout{
        background-color:rgb(255, 1, 86);
        border-radius: 2%;
        width: 450px;
        color: white;
        transition: all 0.9s ;
    }


}


@media (max-width: 634px){

    .planetWebGL{
        display: none;
    }

    .planet{
        width: 100%;
        min-height: 100vh;
        position: relative;
        display: flex;
        flex-direction: column;
    }

    .planet__title{
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
        font-size: 3.4rem;
        top: 30%;
        left: 0%;
        text-align: center;
        width: 100%;
        height: 40%;
        margin: 0 auto;
        background-color: rgba(0, 0, 0, 0.479);
    }

    .planet__enlace{
        position: absolute;
        width: 100%;
        top:67%;
        padding-top: 3rem;
    }
    
    .planet__scroll p{
        color: rgba(255, 255, 255, 0.26);
        font-size: 2rem;
    }
    


   /* CONTAINER 1 */
    .imgContainer1{
        opacity: 0.5;
    }

    .titleContainer1{
        text-shadow: 0 0.0 0.2rem rgb(0, 0, 0);
        margin-bottom: 24%;
        font-size:2.5rem;
    }
    .scroll{
        font-size: 2rem;
        margin-bottom: 4rem;
    }

     /* NFT */

     .textNft p{
        font-size: 2.2rem;
        padding: 5rem 0;
        text-align:center;
    }


    .imgNft{
        padding-left: 0;
        max-width: 100%;
        padding-bottom: 15rem;

    }


    /* container 3 CARDS */
    .container3{
        overflow: hidden;
    }


    
    .container3__title{
        width: 100%;
        padding: 5rem 0;
    }

    .container3__title p{
        font-size: 3rem;
    }


    .container3__text{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        padding: 6rem;
    }


    .container3__card{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        margin: 0;
        padding: 0;
        width: 100%;
    }
  
    .container3__enlaceNft{
        bottom: 0rem;
        padding-bottom: 15rem;
    }
    
    .container3__enlaceNft a{
        font-size: 3rem;
        padding: 0.6rem 2rem;
    }
    
    .container3__circuloNft{
        width: 5rem;
        height: 5rem;
    }
    .container3__enlaceNft a:hover ~ .container3__circuloNft{
        width: 400px;

    }
    
    

    /* NFT */

    .container4{
        width: 100%;
        min-height: 150vh;
        position: relative;
    }


    .boxNft{
        color: white;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        padding-top: 10%;
        padding-left: 0%;
        width: 100%;
    }

    .mov3{
        padding: 3rem 1rem;
        width: 100%;
    }

    .titleNft{
        font-size: 2rem;
        width: 100%;
        padding:2rem;
        text-align: center;
    }

    .imgNft{
        padding-left: 0;
        max-width: 100%;
        padding-bottom: 15rem;

    }
    .imgNft video{
        margin-left: 14rem;
        width: 60%;
        border: 3px outset #b405c4;
        border-radius: 5%;
        box-shadow: 0 0 0.5rem white;
        box-shadow: 0 0 4rem #b405c4;
    }

    .textNft p{
        color: white;
        font-size: 2rem;
        padding: 5rem 0;
        width: 100%;
        color: white;
    }

    .enlaceNft{
        padding: 5rem 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }


    .circuloNft{
        margin-right: 20rem;
    }



    /* about */

    .container2-color{
        background-image: url("./img/museum2.jpg");
        background-size: cover;
        background-repeat: no-repeat;
    }

    .container2{
        position: relative;
        width: 100%;
        color: white;
        background-color: rgba(0, 0, 0, 0.623);
        min-height: 60vh;

    }


    .titleAbout{
        padding: 5rem 3rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        
    }

    .titleAbout h2 {
        margin-top:2%;
        color: white;
        font-size: 6rem;
        font-weight: 900;
    }

    .titleAbout h3 {
        color: rgb(255, 255, 255);
        font-size: 4.5rem;
        margin-bottom: 8rem;
    
    }


    .textAbout p{
        margin-top: 3rem;
        color: white;
        font-size: 2.5rem;
        font-style: italic;
        width: 100% ;
        font-weight: 900;
        text-align: center;
        margin-bottom: 15rem;
        padding: 0 2rem;
    }


    .enlaceAbout{
        display: flex;
        justify-content: flex-start;
        position: relative;
        bottom: 0rem;
    }

    .enlaceAbout a{
        display: flex;
        flex-wrap: wrap;
        font-size: 2.2rem;
        text-decoration: none;
        color: white;
        z-index: 1;
        padding: 0.5rem 1.5rem;
        width: max-content;
    }

    .circuloAbout{
        position: absolute;
        width: 4rem;
        height: 4rem;
        border-radius: 50%;
        background: -webkit-linear-gradient(to right, #b405c4 0%, #6B89FF 100%);
        background: -moz-linear-gradient(to right, #b405c4 0%, #6B89FF 100%);
        background: linear-gradient(to right, #b405c4 0%, #6B89FF 100%);
    }

    .enlaceAbout a:hover ~ .circuloAbout{
        background-color:rgb(255, 1, 86);
        border-radius: 2%;
        width: 350px;
        color: white;
        transition: all 0.9s ;
    }
}


@media (max-width: 320px){

    .planet{
        width: 100%;
        min-height: 100vh;
        position: relative;
    }

    .planet__title{
        color: white;
        font-size: 2.4rem;
        font-style: italic;
        top: 30%;
        left: 0%;
        text-align: center;
        width: 100%;
        height: 40%;
        background-color: rgba(0, 0, 0, 0.479);
    }

    .planet__enlace{
        position: absolute;
        display: flex;
        justify-content: flex-start;
        width: 100%;
        top:70%;
        left: 10%;
        padding-top: 3rem;
        padding-left: 2rem;
    }
    

        /* CONTAINER 1 */
    .imgContainer1{
        opacity: 0.5;
    }

    .titleContainer1{
        text-shadow: 0 0.0 0.2rem rgb(0, 0, 0);
        margin-bottom: 44%;
        font-size:1.9rem;
    }
    .scroll{
        font-size: 1.7rem;
    }

    /* container 3 cards */
 
    

    .container3__box{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        flex-direction: row;
    }

    .container3__title{
        width: 100%;
        padding: 8rem 0;
    }

    .container3__title p{
        font-size: 3rem;
        padding: 0 3rem;
        
    }

    .container3__text{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        padding: 3rem;
        font-weight: 100;
    }

    .container3__enlaceNft{
        bottom: 0rem;
        padding-bottom: 15rem;
    }
    
    .container3__enlaceNft a{
        font-size: 2.5rem;
        padding: 0.8rem 2rem;
    }
    
    .container3__circuloNft{
        width: 4.5rem;
        height: 4.5rem;
    }
    .container3__enlaceNft a:hover ~ .container3__circuloNft{
        width: 310px;
    }
  

    .container3__card{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        margin: 0;
        padding: 0;
        width: 100%;
    }

   
    /* NFT */

    .container4{
        width: 100%;
        min-height: 150vh;
        position: relative;
    }

    .boxNft{
        color: white;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        padding-top: 0%;
        padding-left: 0%;
        width: 100%;
    }

    .mov3{
        padding: 4rem 0rem;
        width: 100%;
    }

    .titleNft{
        font-size: 2rem;
        width: 100%;
        padding:2rem;
        text-align: center;
    }

    .imgNft{
        padding-left: 0;
        max-width: 100%;
        padding-bottom: 10rem;
    }
    .imgNft video{
        margin-left: 0rem;
        width: 100%;
    }

    .enlaceNft{
        padding: 0;
    }

    .textNft p{
        font-size: 1.5rem;
        padding: 5rem 0rem;
    }

    .circuloNft{
        margin-right: 20rem;
    }



    /* about */

    .container2-color{
        background-image: url("./img/museum2.jpg");
        background-size: cover;
        background-repeat: no-repeat;
    }

    .container2{
        position: relative;
        width: 100%;
        color: white;
        background-color: rgba(0, 0, 0, 0.644);
        min-height: 60vh;

    }


    .titleAbout{
        padding: 5rem 2rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        
    }

    .titleAbout h2 {
        margin-top:2%;
        color: white;
        font-size: 4rem;
        font-weight: 900;
    }

    .titleAbout h3 {
        color: rgb(255, 255, 255);
        font-size: 4rem;
        margin-bottom: 8rem;
    }


    .textAbout p{
        margin-top: 3rem;
        color: white;
        font-size: 2rem;
        font-style: italic;
        width: 100% ;
        font-weight: 900;
        text-align: center;
        margin-bottom: 15rem;
        padding: 0 2rem;
    }


    .enlaceAbout{
        display: flex;
        justify-content: flex-start;
        position: relative;
        bottom: 0rem;
    }

    .enlaceAbout a{
        display: flex;
        flex-wrap: wrap;
        font-size: 1.8rem;
        text-decoration: none;
        color: white;
        z-index: 1;
        padding: 0.6rem 1.4rem;
        width: max-content;
    }

    .circuloAbout{
        position: absolute;
        width: 3.5rem;
        height: 3.5rem;
        border-radius: 50%;
        background: -webkit-linear-gradient(to right, #b405c4 0%, #6B89FF 100%);
        background: -moz-linear-gradient(to right, #b405c4 0%, #6B89FF 100%);
        background: linear-gradient(to right, #b405c4 0%, #6B89FF 100%);
    }

    .enlaceAbout a:hover ~ .circuloAbout{
        background-color:rgb(255, 1, 86);
        border-radius: 2%;
        width: 400px;
        color: white;
        transition: all 0.9s ;
    }
}