*{
  margin: 0%;
  padding: 0%;
  box-sizing: border-box; 
}
  
html{
  font-size: 62.5%;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; 
}

body::-webkit-scrollbar {
  width: 12px;               /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
background: rgb(0, 0, 0);        /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
background: linear-gradient(to bottom right, #1C8EFF 5%, #D30EF2 74%);
border-radius: 20px;       /* roundness of the scroll thumb */
border:4px solid rgb(0, 0, 0);  /* creates padding around scroll thumb */
}
  


main{
  background-color: black;
  position: relative;
  overflow: hidden;

}


.nav__list{
  margin-top: 0.2rem;
}
.nav__logo{
  margin-bottom:1rem;
}


div.foo{
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(21,0,50,1) 35%, rgba(46,0,80,1) 51%, rgba(21,0,50,1) 66%, rgba(3,0,6,1) 100%);
}
.letter{
  display: inline-block;
  font-weight: 900;
  font-size: 16rem;
  margin: 0.06em;
  position: relative;
  color: #13001d;
  transform-style: preserve-3d;
  perspective: 400;
  z-index: 1;
}
.letter:before, .letter:after{
  position:absolute;
  content: attr(data-letter);
  transform-origin: top left;
  top:0;
  left:0;
}


.letter, .letter:before, .letter:after{
  transition: all 0.4s ease-in-out;
}

.letter:before{
  background: #6E81FF;
  background: -webkit-linear-gradient(to right, #6E81FF 0%, #E183FF 100%);
  background: -moz-linear-gradient(to right, #6E81FF 0%, #E183FF 100%);
  background: linear-gradient(to right, #6E81FF 0%, #E183FF 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-decoration: none;
}
.letter:after{
  color: rgba(255, 212, 212, 0);
  z-index:2;

}
.letter:hover:before{
  color: #fafafa;
  transform:
    rotateX(0deg)
    rotateY(-40deg)
    rotateZ(0deg);
}
.letter:hover:after{
  transform:
    scale(1.08,1)
    rotateX(0deg)
    rotateY(40deg)
    rotateZ(0deg)
    skew(0deg,22deg);
}

 /* efecto zoom */
.letter {
  -webkit-animation-name: zoomInDown;
  animation-name: zoomInDown;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  }
  @-webkit-keyframes zoomInDown {
  0% {
    opacity: 0;
    -webkit-transform: scale3d(.1, .1, .1) translate3d(0, -1000px, 0);
    transform: scale3d(.1, .1, .1) translate3d(0, -1000px, 0);
    -webkit-animation-timing-function: cubic-bezier(0.550, 0.055, 0.675, 0.190);
    animation-timing-function: cubic-bezier(0.550, 0.055, 0.675, 0.190);
  }
  60% {
    opacity: 1;
    -webkit-transform: scale3d(.475, .475, .475) translate3d(0, 60px, 0);
    transform: scale3d(.475, .475, .475) translate3d(0, 60px, 0);
    -webkit-animation-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1);
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1);
  }
  }
  @keyframes zoomInDown {
  0% {
    opacity: 0;
    -webkit-transform: scale3d(.1, .1, .1) translate3d(0, -1000px, 0);
    transform: scale3d(.1, .1, .1) translate3d(0, -1000px, 0);
    -webkit-animation-timing-function: cubic-bezier(0.550, 0.055, 0.675, 0.190);
    animation-timing-function: cubic-bezier(0.550, 0.055, 0.675, 0.190);
  }
  60% {
  opacity: 1;
    -webkit-transform: scale3d(.475, .475, .475) translate3d(0, 60px, 0);
    transform: scale3d(.475, .475, .475) translate3d(0, 60px, 0);
    -webkit-animation-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1);
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1);
  }
} 
  
  
  /* Main */
    
.presentDonate{
  position: relative;
  z-index: 100;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 10rem;
}

.presentDonate__text{
  padding: 10rem 25rem ;
  color: white;
  font-size: 2rem;
  text-align: center;
}

.presentDonate__logo{
  display: flex;
  justify-content: center;
  align-items: center;
}

.presentDonate__logo img{
  width: 60%;
  height: 60%;

}

/* modal */

#staticBackdrop{
  background-color: rgba(0, 0, 0, 0.719);
}

.modal-title{
  font-size: 2.5rem;
}

.modal-body{
  font-size: 2rem;
  padding: 2rem;
}

.btn{
  width: 25rem;
  margin: 15rem;
  font-size: 3rem;
  background: -webkit-linear-gradient(to right, #b405c4 0%, #6B89FF 100%);
  background: -moz-linear-gradient(to right, #b405c4 0%, #6B89FF 100%);
  background: linear-gradient(to right, #b405c4 0%, #6B89FF 100%);
  border: 20px solid black;
  box-shadow: 0 0 0.2rem white;
  border: none;
}

.btn:hover{
  background-color: rgba(0, 0, 0, 0.466) ;
  font-size: 3.1rem;
  transition: all 0.1s ease-out;
}

.btn-secondary:hover{
  background-color: rgba(0, 0, 0, 0.884) ;
  font-size: 2rem;
  transition: all 0.1s ease-out;
}

.btn-secondary{
  width: 10rem;
  height: 4rem;
  margin: 10rem 5rem;
  margin-bottom: 1rem;
  font-size: 2rem;
  background: rgb(0, 0, 0) ;
  border: none;
}



.container7 {
  position: relative;
  border: 1px solid rgb(29, 0, 83);
  box-shadow: 0 0 3rem rgb(225, 188, 250);
  background: -webkit-linear-gradient(to right, #b405c4 0%, #6B89FF 100%);
  background: -moz-linear-gradient(to right, #b405c4 0%, #6B89FF 100%);
  background: linear-gradient(to right, #b405c4 0%, #6B89FF 100%);
  width: 50%;
  border-radius: 80%;
  height: 0.5rem;
  margin: 15rem 25%;
  text-align: center;
}



footer{
  position:relative;
}




@media (max-width :1400px){
  .presentDonate__text{
    padding: 10rem 10rem ;
    color: white;
    font-size: 2rem;
    text-align: center;
    line-height: 3rem;
  }
}



@media (max-width: 1082px){
  .presentDonate__text{
    padding: 10rem 10rem ;
    color: white;
    font-size: 2rem;
    text-align: center;
    line-height: 3rem;
  }
}


@media (max-width :868px){
  .presentDonate__text{
    padding: 10rem 5rem ;
    color: white;
    font-size: 2rem;
    text-align: center;
    line-height: 3rem;
  }
}

@media (max-width: 634px){
  .presentDonate__text{
    padding: 10rem 3rem ;
    color: white;
    font-size: 2rem;
    text-align: center;
    line-height: 3rem;
  }
}



@media (max-width: 320px){

  .presentDonate__text{
    padding: 10rem 2rem ;
    color: white;
    font-size: 2rem;
    text-align: center;
    line-height: 3rem;
  }
}
  