*{
  margin: 0%;
  padding: 0%;
  box-sizing: border-box; 
}
  
html{
  font-size: 62.5%;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; 
}

body::-webkit-scrollbar {
  width: 12px;               /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
background: rgb(0, 0, 0);        /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
background: linear-gradient(to bottom right, #1C8EFF 5%, #D30EF2 74%);
border-radius: 20px;       /* roundness of the scroll thumb */
border:4px solid rgb(0, 0, 0);  /* creates padding around scroll thumb */
}
  


main{
  background-image: url("../img/backdonate2.jpg");
  background-size: cover;
  position: relative;
  overflow: hidden;
}

div.foo{
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(21,0,50,1) 35%, rgba(46,0,80,1) 51%, rgba(21,0,50,1) 66%, rgba(3,0,6,1) 100%);
}
.letter{
  display: inline-block;
  font-weight: 900;
  font-size: 16rem;
  margin: 0.06em;
  position: relative;
  color: #13001d;
  transform-style: preserve-3d;
  perspective: 400;
  z-index: 1;
}
.letter:before, .letter:after{
  position:absolute;
  content: attr(data-letter);
  transform-origin: top left;
  top:0;
  left:0;
}


.letter, .letter:before, .letter:after{
  transition: all 0.4s ease-in-out;
}

.letter:before{
  background: #6E81FF;
  background: -webkit-linear-gradient(to right, #6E81FF 0%, #E183FF 100%);
  background: -moz-linear-gradient(to right, #6E81FF 0%, #E183FF 100%);
  background: linear-gradient(to right, #6E81FF 0%, #E183FF 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-decoration: none;
}
.letter:after{
  color: rgba(255, 212, 212, 0);
  z-index:2;

}
.letter:hover:before{
  color: #fafafa;
  transform:
    rotateX(0deg)
    rotateY(-40deg)
    rotateZ(0deg);
}
.letter:hover:after{
  transform:
    scale(1.08,1)
    rotateX(0deg)
    rotateY(40deg)
    rotateZ(0deg)
    skew(0deg,22deg);
}

 /* efecto zoom */
.letter {
  -webkit-animation-name: zoomInDown;
  animation-name: zoomInDown;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  }
  @-webkit-keyframes zoomInDown {
  0% {
    opacity: 0;
    -webkit-transform: scale3d(.1, .1, .1) translate3d(0, -1000px, 0);
    transform: scale3d(.1, .1, .1) translate3d(0, -1000px, 0);
    -webkit-animation-timing-function: cubic-bezier(0.550, 0.055, 0.675, 0.190);
    animation-timing-function: cubic-bezier(0.550, 0.055, 0.675, 0.190);
  }
  60% {
    opacity: 1;
    -webkit-transform: scale3d(.475, .475, .475) translate3d(0, 60px, 0);
    transform: scale3d(.475, .475, .475) translate3d(0, 60px, 0);
    -webkit-animation-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1);
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1);
  }
  }
  @keyframes zoomInDown {
  0% {
    opacity: 0;
    -webkit-transform: scale3d(.1, .1, .1) translate3d(0, -1000px, 0);
    transform: scale3d(.1, .1, .1) translate3d(0, -1000px, 0);
    -webkit-animation-timing-function: cubic-bezier(0.550, 0.055, 0.675, 0.190);
    animation-timing-function: cubic-bezier(0.550, 0.055, 0.675, 0.190);
  }
  60% {
  opacity: 1;
    -webkit-transform: scale3d(.475, .475, .475) translate3d(0, 60px, 0);
    transform: scale3d(.475, .475, .475) translate3d(0, 60px, 0);
    -webkit-animation-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1);
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1);
  }
} 
  
  
  /* Main */
    
.presentDonate{
  position: relative;
  z-index: 1200;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 10rem;

}

.presentDonate__text{
  padding: 10rem 25rem ;
  font-size: 2.9rem;
  font-weight: 700;
  text-align: center;
  line-height: 3.4rem;
  color: transparent;
  background: -webkit-linear-gradient(to bottom right, #1C8EFF 5%, #D30EF2 74%);
  background: -moz-linear-gradient(to bottom right, #1C8EFF 5%, #D30EF2 74%);
  background: linear-gradient(to bottom right, #1C8EFF 5%, #D30EF2 74%);
  -webkit-background-clip: text;
  background-clip: text;
}

.presentDonate__logo{
  display: flex;
  justify-content: center;
  align-items: center;
}

.presentDonate__logo img{
  width: 60%;
  height: 60%;

}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10rem;

}

.wrapper a {
  display: inline-block;
  text-decoration: none;
  padding: 15px;
  background: -webkit-linear-gradient(to right, #b405c4 0%, #6B89FF 100%);
  background: -moz-linear-gradient(to right, #b405c4 0%, #6B89FF 100%);
  background: linear-gradient(to right, #b405c4 0%, #6B89FF 100%);
  border-radius: 3px;
  text-transform: uppercase;
  color: #ffffff;
  font-size: 2.5rem;
  font-family: 'Roboto', sans-serif;
  box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}
.modal {
  visibility: hidden;
  opacity: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  background: -webkit-linear-gradient(to right, #b405c4 0%, #6B89FF 100%);
  background: -moz-linear-gradient(to right, #b405c4 0%, #6B89FF 100%);
  background: linear-gradient(to right, #b405c4 0%, #6B89FF 100%);
  transition: all .4s;
}

.modal:target {
  visibility: visible;
  opacity: 1;
}

.modal__content {
  border-radius: 4px;
  position: relative;
  width: 600px;
  height: 20rem;
  background: rgba(0, 0, 0, 0.781);
}

.modal__content p{
  padding: 2rem 2rem;
  font-size: 2.4rem; 
  color: white;
}

.modal__content h1{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 2rem;
  padding-bottom: 2rem;
  font-size: 3rem; 
  color: white;
}

.modal__content hr{
  background: -webkit-linear-gradient(to right, #b405c4 0%, #6B89FF 100%);
  background: -moz-linear-gradient(to right, #b405c4 0%, #6B89FF 100%);
  background: linear-gradient(to right, #b405c4 0%, #6B89FF 100%);
  height: 1rem;
}

.modal__close {
  position: absolute;
  top: -20px;
  right: 15px;
  font-size: 5rem;
  color: #ad81ff;
  text-decoration: none;
}

/* CONTAINER 7 (LINE) */

.container7 {
  position: relative;
  border: 1px solid rgb(29, 0, 83);
  box-shadow: 0 0 3rem rgb(225, 188, 250);
  background: -webkit-linear-gradient(to right, #b405c4 0%, #6B89FF 100%);
  background: -moz-linear-gradient(to right, #b405c4 0%, #6B89FF 100%);
  background: linear-gradient(to right, #b405c4 0%, #6B89FF 100%);
  width: 50%;
  border-radius: 80%;
  height: 0.5rem;
  margin: 15rem 25%;
  text-align: center;
}


@media (max-width :1400px){
  .presentDonate__text{
    padding: 10rem 20rem ;
    font-size: 2.9rem;
    font-weight: 700;
    text-align: center;
    line-height: 3.4rem;
    color: transparent;
    background: -webkit-linear-gradient(to bottom right, #1C8EFF 5%, #D30EF2 74%);
    background: -moz-linear-gradient(to bottom right, #1C8EFF 5%, #D30EF2 74%);
    background: linear-gradient(to bottom right, #1C8EFF 5%, #D30EF2 74%);
    -webkit-background-clip: text;
    background-clip: text;
  }
  .foo{
    width: 100vw;
    height: 100vh;
    text-align: center;
    padding-bottom: 0rem;
    padding-top: 0rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
  }
  
  .letter{
    font-weight: 900;
    font-size: 15rem;
    margin: 0.1em;
  }
}



@media (max-width: 1082px){
  .presentDonate__text{
    padding: 10rem 10rem ;
    color: white;
    font-size: 2rem;
    text-align: center;
    line-height: 3rem;
  }
  .foo{
    width: 100vw;
    height: 100vh;
    text-align: center;
    padding-bottom: 0rem;
    padding-top: 0rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
  }
  
  .letter{
    font-weight: 900;
    font-size: 15rem;
    margin: 0.1em;
  }
}


@media (max-width :868px){
  .presentDonate__text{
    padding: 10rem 5rem ;
    color: white;
    font-size: 2rem;
    text-align: center;
    line-height: 3rem;
    color: transparent;
    background: -webkit-linear-gradient(to bottom right, #1C8EFF 5%, #D30EF2 74%);
    background: -moz-linear-gradient(to bottom right, #1C8EFF 5%, #D30EF2 74%);
    background: linear-gradient(to bottom right, #1C8EFF 5%, #D30EF2 74%);
    -webkit-background-clip: text;
    background-clip: text;
  }
  .foo{
    width: 100vw;
    height: 100vh;
    text-align: center;
    padding-bottom: 0rem;
    padding-top: 0rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
  }
  
  .letter{
    font-weight: 900;
    font-size: 11.3rem;
    margin: 0.1em;
  }
}

@media (max-width: 634px){
  .presentDonate__text{
    padding: 10rem 3rem ;
    color: white;
    font-size: 2rem;
    text-align: center;
    line-height: 3rem;
    color: transparent;
    background: -webkit-linear-gradient(to bottom right, #1C8EFF 5%, #D30EF2 74%);
    background: -moz-linear-gradient(to bottom right, #1C8EFF 5%, #D30EF2 74%);
    background: linear-gradient(to bottom right, #1C8EFF 5%, #D30EF2 74%);
    -webkit-background-clip: text;
    background-clip: text;
  }

  .foo{
    width: 100vw;
    height: 100vh;
    text-align: center;
    padding-bottom: 0rem;
    padding-top: 0rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
  }
  
  .letter{
    font-weight: 900;
    font-size: 6.5rem;
    margin: 0.1em;
  }
    
  .modal__content {
    border-radius: 4px;
    position: relative;
    width: 480px;
    height: 20rem;
    background: rgba(0, 0, 0, 0.781);
  }

  .modal__content p{
    padding: 2rem 2rem;
    font-size: 2rem; 
    color: white;
  }

  .modal__content h1{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 2rem;
    padding-bottom: 2rem;
    font-size: 3rem; 
    color: white;
  }

    
}

@media (max-width: 482px){
  .modal__content {
    border-radius: 4px;
    position: relative;
    width: 390px;
    height: 20rem;
    background: rgba(0, 0, 0, 0.781);
  }
  
  .modal__content p{
    padding: 2rem 2rem;
    font-size: 1.5rem; 
    color: white;
  }
  
  .modal__content h1{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 2rem;
    padding-bottom: 2rem;
    font-size: 2.5rem; 
    color: white;
  }

  .foo{
    width: 100vw;
    height: 100vh;
    text-align: center;
    padding-bottom: 0rem;
    padding-top: 0rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
  }
  
  .letter{
    font-weight: 900;
    font-size: 5rem;
    margin: 0.1em;
  }
}

@media (max-width: 350px){
  .foo{
    width: 100vw;
    height: 100vh;
    text-align: center;
    padding-bottom: 0rem;
    padding-top: 0rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
  }
  
  .letter{
    font-weight: 900;
    font-size: 4.7rem;
    margin: 0.1em;
  }
  .modal__content {
    border-radius: 4px;
    position: relative;
    width: 310px;
    height: 20rem;
    background: rgba(0, 0, 0, 0.781);
  }
  
  .modal__content p{
    padding: 2rem 2rem;
    font-size: 1.2rem; 
    color: white;
  }
  
  .modal__content h1{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 2rem;
    padding-bottom: 2rem;
    font-size: 2rem; 
    color: white;
  }
}
  